{% extends "common/base.html" %}

{% block title %} GO - Please sing in {% endblock %}

{% block content %}
<div class="container">
  <form role="form" method="post" class="form-signin" action="{% url "authorization.views.login" %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-xs-offset-4 col-xs-4">
        <h2 class="form-signin-heading">Please sign in</h2>
        {% include "common/includes/non_field_errors.html" %}
        {% include "common/includes/textinput.html" with field=form.username %}
        {% include "common/includes/password.html" with field=form.password %}
        {% include "common/includes/submit.html" with label="Sign in" %}
        <input type="hidden" name="next" value="{{next}}" />
      </div>
    </div>
  </form>
</div>
{% endblock %}
