{% load tags_extras %}

<!-- left-bottom -->
<div class="cell">
  <div></div>
  <div class="border-bottom border-left"></div>
  {% for i in 2|get_range %}
  <div></div>
  {% endfor %}
</div>
<!-- bottom -->
{% for i in columns|add:'-1'|get_range %}
<div class="cell">
  <div class="border-right border-bottom"></div>
  <div class="border-bottom"></div>
  {% for i in 2|get_range %}
  <div></div>
  {% endfor %}
</div>
{% endfor %}
<!-- right-bottom -->
<div class="cell">
  <div class="border-right border-bottom"></div>
  {% for i in 3|get_range %}
  <div></div>
  {% endfor %}
</div>

