<input  {# Password #}
        type="password" class="form-control"
        {# Field id is in 'id_for_label' attr. #}
        id="{{field.id_for_label}}" 
        {# Field name is in 'html_name' attr. #}
        name="{{field.html_name}}" 
        {# Length is in field.max_length attr. #}
        maxlength="{{field.field.max_length}}" 
        {# Use label as placeholder. #}
        placeholder="{{field.label}}" autofocus>
{% if field.errors %}
  {% for error in field.errors %}
    <div class="alert alert-danger">{{ error|escape }}</div>
  {% endfor %}
{% endif %}
