#content {
    margin: 75px auto;
    max-width: 700px;
}

.board-wrapper {
    width: 550px;
    float: left;
}

.board {
    background: url('../images/wood.jpg');
    margin: 0 auto;
    border: 1px solid #000;
}

.size-9x9 {
    width: 250px;
    height: 250px;
}

.size-13x13 {
    width: 350px;
    height: 350px;
}

.size-19x19 {
    width: 500px;
    height: 500px;
}

div.controls {
    float: left;
    width: 150px;
}

div.cell {
    width: 25px;
    height: 25px;
    float: left;
}

.cell div {
    width: 12px;
    height: 12px;
    float: left;
}

div.border-left {
    border-left: 1px solid #444;
}

div.border-top {
    border-top: 1px solid #444;
}

div.border-right {
    border-right: 1px solid #444;
}

div.border-bottom {
    border-bottom: 1px solid #444;
}

div.stone {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: none;
}

div .white {
    background-color: #FFF;
}

div .black {
    background-color: #111;
}

div .block {
    display: block;
}

.chat {
    margin-top: 50px;
    float: left;
    width: 90%;
}

.chat #message-box {
    overflow: auto;
    height: 150px;
    border: 1px solid #777;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.chat .message-wrapper {
    margin: 2px 0;
    /* HACK: avoid additional space between child span tags - parent. */
    font-size: 0px;
}

/* HACK: avoid additional space between child span tags - children. */
.chat .timestamp,
.chat .author,
.chat .message {
    font-size: 16px;
}

.chat .author {
    font-weight: bold;
    margin-left: 5px;
}

.chat .message {
    margin-left: 3px;
}

.chat #chat-form {
    margin-top: 3px;
}

.chat #chat-message {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    display: block;
}
