<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {# Ensure proper rendering on mobile devices. #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}common/css/base.css" />
    {% endblock %}
  </head>
  <body>
    {% block header %}
    <div id="site-header">
      <div class="header-content">
        <h1><a href="{% url "authorization.views.login" %}">go</a></h1>

        <ul class="header-nav">
          {% if user.is_authenticated %}
          {% block header-nav %}{% endblock %}
          <li><a href="{% url "django.contrib.auth.views.logout_then_login" %}">logout</a></li>
          {% else %}
          <li><a href="{% url "authorization.views.register" %}">register</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endblock %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>

    {% block footer %}
    <div id="footer"></div>
    {% endblock %}

    <!-- Base JS scripts. -->
    <script type="text/javascript" src="{{ STATIC_URL }}common/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}common/js/jquery-cookie.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}common/js/base.js"></script>

    <!-- Custom JS scripts. -->
    {% block js %}{% endblock %}
  </body>
</html>
