{% extends 'common/base.html' %}

{% load tags_extras %}

{% block title %}Go{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}common/css/base.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}go/css/game_play.css" />
{% endblock %}

{% block js %}
{# FIXME #}
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script src="{{ STATIC_URL }}go/js/game_play.js"></script>
{% endblock %}


{% block content %}
<div class="board-wrapper">
  <div id="{{ board.game_id }}_board" class="board size-{{ board.size }}">
    {# Render top row #}
    {% include 'go/includes/board_row_top.html' %}

    {# Render center rows #}
    {% for row in board.rows|add:"-1"|get_range:1 %}
    {% include 'go/includes/board_row_center.html' %}
    {% endfor %}

    {# render bottom row #}
    {% include 'go/includes/board_row_bottom.html' %}
  </div>
</div>
<div class="controls">
  <div>
    Color: {{ stone_color }}
  </div>
  <div>
    Next move: 
    <span id="next_move_color">{{ next_move_color }}</span>
  </div>
  <div>
    Action:<br/>
    <input type="radio" name="action" value="add" checked="checked">Add<br/>
    <input type="radio" name="action" value="del">Remove
  </div>
</div>

<div class="chat">
  <div id="message-box">
    {% for message in messages %}
    <div class="message-wrapper">
      <span class="timestamp">{{ message.timestamp|date:"H:i:s" }}</span>
      {% if message.type == 'm' %}
      <span class="author">{{ message.author }}</span>:
      {% endif %}
      <span class="message {{ message.type }}">{{ message }}</span>
    </div>
    {% endfor %}
  </div>
  <form id="chat-form">
    <textarea name="chat-message" id="chat-message" rows="2"></textarea>
    <input type="submit" value="Say" />
  </form>
</div>

{% endblock %}
