{% extends "common/base.html" %}

{% block header-nav %}
<li><a href="{% url "go.views.game_create" %}">Add Game</a></li>
{% endblock %}

{% block content %}
<div class="container">
  <table class="table table-bordered" id="go-games">
    <caption>Available games</caption>
    <colgroup>
      <col id="identifier">
      <col id="name">
      <col id="players">
      <col id="size">
      <col id="actions">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Players</th>
        <th scope="col">Size</th>
        <th scope="col">Actions</th>
      </tr>

      {% for game in games %}
      <tr class="{% cycle '' 'active' %}">

        <td>{{ forloop.counter }}</td>
        <td>{{ game.name }}</td>

        {% with users=game.users.all %}
        <td>
          {% for user in users %}
          <span>{{ user }}</span>
          {% endfor %}
        </td>

        <td>{{ game.board.size }}</td>

        <td>
          {# User can manage current game #}
          {% if user in users %}
          <a href="{% url "go.views.game_play" game.id %}">play</a> &#124;
          <a href="{% url "go.views.game_edit" game.id %}">edit</a> &#124;
          <a href="{% url "go.views.game_delete" game.id %}">delete</a>
          {# User can be added to game #}
          {% elif users.count < 2 %}
          <a href="{% url "go.views.game_join" game.id %}">join</a>
          {% endif %}

        </td>
        {% endwith %}

      </tr>
      {% endfor %}

    </colgroup>
  </table>
</div>
{% endblock %}
