<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}</title>

    <!-- Base JS scripts. -->
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>

    <!-- Base css scripts. -->

    <!-- Custom css scripts. -->
    {% block css %}{% endblock %}
  </head>
  <body>
    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <!-- Custom JS scripts. -->
    {% block js %}{% endblock %}
  </body>
</html>
